@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.last:hover .mega-box {
  right: 0;
  left: auto;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* Стили хедера */
.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
}

@i .header-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.header-form {
  display: flex;
}

.button-site {
  background-color: #f16d7f;
  padding: 12px 19px;
  border: 1px solid transparent;
}

.button-site:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.my-acc {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu-link {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.banner {
  height: 613px;
  background-color: #e8e8e8;
  margin-bottom: 100px;
}

.banner-block {
  height: 100%;
  background: url(img/banner.jpg) 0 -51px;
}

.the-brand {
  color: #222222;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 20px;
}

.text-fashion {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 31px;
}

.banner-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;
}

.span-fashion {
  color: #f16d7f;
}

.mega-box {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 20px;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
}
.mega-box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  top: -9px;
  transform: rotate(45deg);
  left: 30px;
  background-color: #fff;
}

.mega-link {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  text-decoration: none;
}
.mega-link:hover {
  color: #f16d7f;
}

.mega-title {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 16px;
  width: 235px;
}

.mega-item {
  margin-right: 46px;
}

.mega-item:last-of-type {
  margin-right: 0;
}

.menu-list {
  position: relative;
}
.menu-list:hover .mega-box {
  display: flex;
}

.last:hover .mega-box::before {
  right: 50px;
  left: auto;
}

.header2 {
  background-color: #ccc;
  height: 150px;
  margin-bottom: 50px;
}
.header2__button {
  margin-left: 300px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 374px;
  border: 3px solid black;
  height: 300px;
}
.block__button {
  margin: 200px auto 0;
}
.block__button_border {
  border: 3px solid black;
}

.button {
  display: block;
  width: 100px;
  height: 40px;
  background-color: darkmagenta;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s;
}
.button_border-blue {
  border: 3px solid rgb(19, 16, 227);
}
.button:hover {
  background-color: green;
}
.button_hover-red:hover {
  background-color: red;
  transform: scale(1.2);
}

.item-sec-title {
  font-family: Lato;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
}

.item-sec-dsc {
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 60px;
}

.item-sec {
  margin-bottom: 400px;
}

.item {
  width: 263px;
  position: relative;
  margin-bottom: 40px;
}

.item-link {
  display: block;
  width: 263px;
  text-decoration: none;
}

.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-pic {
  width: 100%;
}

.txt-box {
  padding: 20px;
}

.item-dsc {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 17px;
}

.item-price {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.item:hover .item-pic {
  filter: brightness(30%);
}

.add {
  display: flex;
  padding: 10px;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  border: 1px solid #fff;
  text-decoration: none;
  align-items: center;
  pointer-events: all;
}

.add-box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.add-pic {
  margin-right: 10px;
}

.add:hover {
  box-shadow: 0 0 10px 0 #fff;
}

.item:hover .add-box {
  display: flex;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}/*# sourceMappingURL=test.css.map */