$padding__right: calc(50% - 800px);
$padding__left: calc(50% - 800px);
$lato: Lato;
$bg_white: #ffffff;
$text__bl: #222222;
$orange: #f16d7f;
$width__100: 100%;
$height__100: 100%;
$height__search: 38px;
$tx__bann__height: 100px;